.authorize-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

.authorize-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: #1c1c1c;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.authorize-input {
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background: #1c1c1c;
    color: white;
}

.authorize-input::placeholder {
    font-weight: bold;
    color: #fff;
}

.authorize-select {
    font-weight: bold;
    width: 108%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background: #1c1c1c;
    color: white;
}

.authorize-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 6px;
    background-color: #1c1c1c;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.authorize-button:hover {
    color: #1c1c1c;
    background-color: white;
}

.authorize-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.authorize-option {
    padding: 10px 20px;
    margin: 10px 10px 0px 0px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #fff;
}

.authorize-option.selected {
    background-color: #1D9BF0;
    color: #222;
}

.authorize-option:hover {
    background-color: white;
    color: #1c1c1c;
}

.authorize-option.selected {
    background-color: white;
    color: black;
}

.authorize-option.selected:hover {
    background-color: white;
    color: black;
}
